<main class="p-5">
    <div class="card p-5">
        <p id="test">Hello everybody in the world!</p>
        <p id="test0">Hello everybody in the world!</p>
    </div>
    <pre>
    <p id="test1">Hello everybody in the world!</p>
    <p id="test2">Hello everybody in the world!</p>
    <p id="test3">Hello everybody in the world!</p>
    <p id="test4">Hello everybody in the world!</p>
    </pre>
    <div style="padding: 30px 30px 30px 0px;background:gray">
        <span class="block">Inline-block</span>
    </div>
    <br>
    <div style="padding: 50px 50px;background:blue">
        <span class="block1">Inline-block Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit vel veritatis
            magnam neque? Nobis sed iusto corrupti quaerat atque, ratione placeat tempora fuga tempore a quam
            repudiandae harum sunt eligendi?</span>
    </div>
    <br>
    <div style="padding: 50px 50px;background:black">
        <span class="block2">Inline-block Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ducimus
            expedita voluptatem quos optio numquam magnam aperiam. Non aliquam, nulla vero aut, molestias, perferendis
            exercitationem harum corrupti quisquam repudiandae pariatur? </span>
    </div>
</main>