{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!--Selectors lesson1
<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 style="color:grey">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <button type="button" class="btn btn-primary">Купити</button>
</div>--}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}
    {{!--<div class="card p-5 m-5 card-dark">
        <ul>
            <li class="item">1one- Селектор першої дитини</li>
            <li class="item">2two</li>
            <li class="item">3three - Селектор порядкової дитини 3</li>
            <li class="item">4four</li>
            <li class="item">5five</li>
            <li class="item">6six</li>
            <li class="item">7seven- Селектор останньої дитини</li>
        </ul>
        <hr>
        <ul>
            <li class="once">1one-Селектор одиничної дитини </li>
        </ul>
        <hr>
        <div>
            <b>b1</b>
            <p>p1-Селектор першого типу</p>
            <p>p2</p>
            <b>b2-Селектор останнього типу</b><br>
            <i>i-tag</i><br>
            <i>i-tag-Селектор порядкового типу 2</i><br>
            <i>i-tag</i><br>
            <i>i-tag</i><br>
            <i>i-tag-Селектор зворотного порядкового типу 2</i><br>
            <i>i-tag</i><br>
            <strong>strong-Селектор одиничного типу</strong>
        </div>
        <hr>
        <ul>
            <li class="name">1one-Селектор порядкової дитини 3n+1</li>
            <li class="name">2two</li>
            <li class="name">3three</li>
            <li class="name">4four-Селектор порядкової дитини 3n+1</li>
            <li class="name">5five</li>
            <li class="name">6six</li>
            <li class="name">7seven-Селектор порядкової дитини 3n+1</li>
            <li class="name">8eight</li>
            <li class="name">9nine</li>
            <li class="name">10ten-Селектор порядкової дитини 3n+1</li>
        </ul>
        <hr>
        <ul>
            <li class="this">1one</li>
            <li class="this">2two-Селектор порядкової дитини 3n-1</li>
            <li class="this">3thre
            <li class="this">4four</li>
            <li class="this">5five-Селектор порядкової дитини 3n-1</li>
            <li class="this">6six</li>
            <li class="this">7seven</li>
            <li class="this">8eight-Селектор порядкової дитини 3n-1</li>
            <li class="this">9nine</li>
            <li class="this">10ten</li>
        </ul>
        <hr>
        <ul>
            <li class="that">1one</li>
            <li class="that">2two</li>
            <li class="that">3thre</li>
            <li class="that">4four-Селектор зворотньої дитини 3</li>
            <li class="that"></li>Селектор пустого контенту<br>
            <li class="that">6six</li>
        </ul>
        <hr>
        <ul>
            <em class="those">1one</em><br>
            <em class="those">2two</em><br>
            <em class="only">3thre-Селектор невідповідності</em><br>
            <em class="those">4four</em><br>
            <em class="those">5five</em><br>
            <em class="those">6six</em><br>
        </ul>
    </div>--}}
    {{!--<div class="card p-5 m-5 card-dark">
        <input class="input-dark">
        селектор атрибута
        <input class="input-dark" required>
        селектор значення атрибута
        <input class="input-dark" type="number">
    </div>
    <div class="card  m-5 ">
        <img alt="image small card" class="small-img" src="https://picsum.photos/200/300" height="100" />
        <br>
        <button class="btn">click me</button>
        <br>
        <a class="btn btn-secondary" href="https://picsum.photos/200/300"> click me</a>
        <br>
        <div class="small p-1 btn btn-secondary" href="https://picsum.photos/200/300"> click me</div>
        <br>
        <div class="small p-1 btn btn-secondary big" href="https://picsum.photos/200/300"> click me</div>
    </div>
    <br>
    <div class="card  m-5 ">
        <span>Селектор псевдоелементів першої літери</span>
        <br>
        <p class="big-text">селектор псевдоелементів першого рядка<br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <br>

        <input class="input-light" placeholder="селектор псевдоелементів плейсхолдера">
        <br>
        <p class="small-text">селектор псевдоелементів попереду</p>
        <br>
        <p class="some-text">селектор псевдоелементів позаду</p>
    </div>--}}

    <div class="card p-5 m-5 card-dark">
        <a class="link" href="https://drive.google.com">Click on me</a>
    </div>
    <div class="card p-5 m-5 card-dark">
        <input>
    </div>
    <div lang="fr" class="card p-5 m-5 card-dark">
        <span>Test</span>
    </div>
    <div lang="en" class="card p-5 m-5 card-dark">
        Test
    </div>
    <div class="p-5 m-5 card-dark">
        <button>Test button</button>
        <button disabled>Test button-disabled</button>
    </div>
    <div class="p-5 m-5 card-dark">
        <input class="inp">
        <div>
            <input type="checkbox"><span>Checkbox1</span>
        </div>
        <div>
            <input type="checkbox"><span>Checkbox2</span>
        </div>
    </div>
    <div class="p-5 m-5 card-dark">
        <div><input type='email' class="valid" placeholder="test">
            <span>Some text</span>
        </div>
        <div><input min="10" max="20" type='number' class="number" required></div>
    </div>
    <div id="test""class=" card p-5 m-5 card-dark">
        Якір
    </div>